@import "_mixins";

header {
  background-color: $primary;

  .menu-bar {
    position: fixed;
    background-color: $ashColor;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;

    @include breakpoint(ipad) {
      padding: 2rem 4rem;
    }
    @include breakpoint(laptop) {
      width: 100vw;
      padding: 0.8rem 3.5rem;
    }

    .logo {
      a {
        font-size: 1.3rem;
        color: $secondColor;
        font-family: $logoFont;
        font-weight: 600;
        transition: all 300ms ease-in;
        span {
          color: $lightGreen;
        }
        @include breakpoint(ipad) {
          font-size: 1.6rem;
        }
        &:hover{
          color: $lightBlue;
          span{ color: $primary; }
        }
      }
    }

    .nav_menu {
      display: none;

      @include breakpoint(laptop) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1.6rem;
        width: 100vw;

        a {
          font-size: 1.2rem;
          font-weight: 700;
          color: $secondColor;
          background-color: $primary;
          transition: 300ms ease-in;
          padding: 0.7rem;
          position: relative;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 400ms;
            }
          &:after{
            top:-1px;
            left:-1px;
            border-top:2.5px solid $secondColor;
            border-left:2.5px solid $secondColor;
          }
          &:before{
            bottom:-1px;
            right:-1px;
            border-bottom:1px solid $secondColor;
            border-right:1px solid $secondColor;
          }
          &:hover{
            border-top-right-radius:0px;
          border-bottom-left-radius:0px;
            // background:rgba(0,0,0,.5);
            // color:white;
            &:before,&:after{
              
              width:100%;
              height:100%;
              // border-color:white;
            }
          }

          // &:hover {
          //   background-color: $lightGreen;
          // }
        }
      }
    }

    .header_menu {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      right: 0;
      top: 5.74rem;
      background-color: $primary;
      border-bottom-left-radius: 20px;
      // border-bottom-right-radius: 20px;
      overflow: hidden;
      height: fit-content;
      width: 50%;
      transition: 400ms ease-in;
      display: none;
      z-index: 1;

      @include breakpoint(ipad) {
        top: 8.675rem;
      }

      li {
        width: 100%;
        height: 5rem;
        animation: navAnime 300ms linear forwards;
        transform-origin: top right;
        opacity: 0;
        &:nth-child(2) {
          animation-delay: 200ms;
        }
        &:nth-child(3) {
          animation-delay: 300ms;
        }
        @include breakpoint(laptop) {
          animation: none;
        }
        a {
          font-size: 1.2rem;
          background-color: $ashColor;
          color: $secondColor;
          width: 100%;
          height: 100%;
          position: relative;
          display: grid;
          place-items: center;
          transition: 300ms ease-in;

          &:not(:last-child) {
            margin-right: 32px;
          }
          &:hover {
            background-color: $primary;
            color: $lightGreen;
          }
        }
      }
      @include breakpoint(laptop) {
        display: none;
      }
    }

    button {
      display: inline-block;
      background: transparent;
      border: none;
      font-size: 1.3rem;
      color: $secondColor;
      cursor: pointer;
      transition: all 400ms ease;

      @include breakpoint(ipad) {
        font-size: 1.6rem;
      }

      @include breakpoint(laptop) {
        display: none;
      }
    }

    #close-btn-menu {
      display: none;
    }

    @keyframes navAnime {
      0% {
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
      }

      100% {
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
      }
    }
  }

  // For the about page header area

  .who-we-are {
    padding: 3rem 1rem;
    background: url(../images/background.png);
    background-position: contain;

    .container {
      width: 90vw;
      color: $secondColor;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      @include breakpoint(ipad) {
        width: 80vw;
        margin: 0 auto;
      }
      @include breakpoint(ipad-promax) {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        align-content: center;
        width: 80vw;
        padding-top: 3rem;
      }
      .whowe-head {
        padding: 2rem 0;
        text-align: center;
        font-size: 2.5rem;
        font-family: $secondText;
        font-weight: 900;
        
        @include breakpoint(ipad) {
          margin-top: 6rem;
          padding: 1rem 0;
        }
        @include breakpoint(ipad-promax) {
          text-align: left;
          font-size: 4.5rem;
          margin-top: 4rem;
        }
      }

      .whowe-main-text {
        text-align: center;
        line-height: 1.6;
        font-size: 1rem;
        @include breakpoint(ipad-promax) {
          text-align: left;
          font-size: 1.3rem;
          padding-top: 4rem;
        }
      }
    }
  }
}
