// COLORS
$primary: #310138;
$secondColor: #fff;
$lightGreen: rgb(15, 177, 10);
$ashColor: #672770;
$lightBlue: #3882f6;
$aliceBlue: aliceblue;
$heroBackground: #A171A7;

// FONT STYLE
$bodyFont: 'Overpass', sans-serif;
$logoFont: 'Kdam Thmor Pro', sans-serif;
$secondText: 'Ubuntu', sans-serif;
$thirdText: 'Pacifico', cursive;
// font-family: 'Kdam Thmor Pro', sans-serif;
// font-family: 'Overpass', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Ubuntu', sans-serif;

// WIDTHS
$fullWidth: 100vw;
$large: 90vw;
$medium: 80vw;
$small: 70vw;

// BORDERS
$whiteBorder: 1px solid #fff;
$ashBorder: 1px solid #7e8185;