// COLORS
$primary: #1f2937;
$secondColor: #fff;
$lightGreen: rgb(15, 177, 10);
$ashColor: #7e8185;
$lightBlue: #3882f6;
$aliceBlue: aliceblue;

// FONT STYLE
$bodyFont: 'Overpass', sans-serif;
$logoFont: 'Satisfy', cursive;
$secondText: 'Ubuntu', sans-serif;

// WIDTHS
$fullWidth: 100vw;
$large: 90vw;
$medium: 80vw;
$small: 70vw;

// BORDERS
$whiteBorder: 1px solid #fff;
$ashBorder: 1px solid #7e8185;