* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    margin: 0 auto;
}
header {
    background-color: #1f2937;
}

/* NAV BAR */
.nav-bar {
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-family: 'Satisfy', cursive;
}

.list-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.pages a{
    text-decoration: none;
    color: #fff;
}
.pages a:hover {
    background-color: #3882f6;
    transition: 0.5s;
    padding: 1rem;
    color: #fff;
}
.pages {
    color: #fff;
    padding-right: 2rem;
    font-size: 1.5rem;
}

/* MAIN TAB */
.contact-main {
    background-color: #acc6f0;
    margin: 0 auto;
    padding: 2rem;
}

.contact-tab {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    padding: 4rem 0;
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}
.address-details {
    width: 20%;
}

.fa-solid {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    color: #1f2937;
}

.second-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    width: 70vw;
}
.tab-1 {
    background-color: #1f2937;
    width: 30rem;
    padding: 2.7rem;
    color: #fff;
}

.hello-request {
    margin-bottom: 17rem;
    font-size: 2.2rem;
    font-weight: 700;
}

.open {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 2.2rem;
}

.days, .time, .saturdays, .sundays {
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
}

/* CONTACT FORM */
.contact-form {
    width: 50vw;
    padding: 3rem;
}

.name-area {
    display: flex;
    column-gap: 2rem;
}

input {
    height: 4rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #3882f6;
    border-radius: 5px;
    text-align: left;
    font-size: 1.4rem;
    padding-left: 2rem;
    border-bottom-width: 2px;
    transition: all 0.6s ease;
}

input:focus,
input:valid {
    border-color: #3882f6;
}
textarea {
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #1f2937;
    border-radius: 5px;
    /* text-align: left; */
    font-size: 1.6rem;
    padding-left: 2rem;
    border-bottom-width: 2px;
    transition: all 0.6s ease;
}
textarea:focus,
textarea:valid {
    border-color: #3882f6;
}

.submit {
    background-color: #1f2937;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.submit:hover {
    background-color: #3882f6;
}

/* QUICK LINKS - FOOTER AREA */

.quick-links {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 6rem 3rem;
    margin: 0 auto;
    background-color: #1f2937;
    color: #fff;
}
.office-details-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.company-details-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.services-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.discus-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}

.office-details p{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
}

.company-details ul{
    list-style: none;
}
.company-quicklinks a{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
    color: #fff;
    text-decoration: none;
}
.whatwedo ul{
    list-style: none;
}
.services-list a{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
    color: #fff;
    text-decoration: none;
}
.discuss-main-text {
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
}

.request-quote {
    font-size: 2.7rem;
    font-weight: 700;
    padding-top: 4rem;
}
.request-quote a{
    text-decoration: none;
    color: rgb(15, 177, 10);
}

.request-quote a:hover {
    color: #fff;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.4px solid #fff;
}
.copyright {
    font-weight: 200;
    font-size: 1.1rem;
    color: #fff
}

/* MEDIA QUERIES */

/* IPAD MEDIA */

@media only screen and (max-width: 830px) {
    .nav-bar {
        display: flex;
        width: 80vw;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .address-details {
        width: 30%;
    }
    .second-main {
        margin: 0 auto;
        width: 80vw;
    }
    .contact-form {
        width: 50vw;
        padding: 1rem;
    }
    .quick-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3rem;
        padding: 6rem 3rem;
        text-align: center;
    }
}

/* IPAD PRO VERSION */
@media only screen and (max-width: 1085px) {
    .nav-bar {
        display: flex;
        width: 80vw;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .address-details {
        width: 30%;
    }
    .second-main {
        margin: 0 auto;
        width: 80vw;
    }
    .contact-form {
        width: 50vw;
        padding: 1rem;
    }
    .quick-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3rem;
        padding: 6rem 3rem;
        text-align: center;
    }
}

/* MOBILE PHONES */
@media (max-width: 430px) {
    .nav-bar {
        display: block;
        width: 100%;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    .address-details {
        width: 100%;
    }
    .contact-tab {
        display: block;
        padding: 4rem 0;
        font-size: 1.3rem;
        line-height: 1.5;
        margin: 0 auto;
        text-align: center;
    }

    .second-main {
        display: block;
        margin: 0 auto;
        width: 90vw;
    }
    .tab-1 {
        background-color: #1f2937;
        width: 100%;
        padding: 2.1rem;
        margin: 0 auto;
    }
    .hello-request {
        margin-bottom: 12rem;
        font-size: 2.2rem;
        font-weight: 700;
    }
    .contact-form {
        width: 90vw;
        padding: 3rem;
    }
    .quick-links {
        display: block;
        padding: 6rem 3rem;
        text-align: center;
    }
    
}