* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    margin: 0 auto;
}
header {
    background-color: #1f2937;
}

/* NAV BAR */
.nav-bar {
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-family: 'Satisfy', cursive;
}

.list-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.pages a{
    text-decoration: none;
    color: #fff;
}
.pages a:hover {
    background-color: #3882f6;
    transition: 0.5s;
    padding: 1rem;
    color: #fff;
}
.pages {
    color: #fff;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.hero-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    flex: 1;
    padding-bottom: 3rem;
}

.hero-text {
    color: #fff;
    max-width: 50%;
    line-height: 1;
}
.header-img {
    width: 40vw;
    border: 10px solid #fff;
}

.main-text {
    font-size: 5rem;
    font-weight: 700;
    width: 50rem;
}
.secondary-text {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: .8;
    padding-top: 1rem;
}
.cta1 {
    margin-top: 2rem;
}
.header-cta {
    background-color: #3882f6;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;
}
.header-cta:hover {
    background-color: #1f2937;
    color: #fff;
    border: 2px solid #fff;
    transition: .8s;
}

/* SERVICES SECTION */

.services {
    margin: 0 auto;
}
.service-head {
    color: #1f2937;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding: 3rem 0;
}
.service-details {
    margin: 0 auto;
    width: 70vw;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* IMAGES */
.services-img {
    width: 150px;
    border: 3px solid #1f2937;
    border-radius: 5px;
}

/* DESCRIPTION TEXT */

.desc {
    width: 200px;
    padding: 2rem 2rem;
}
.my-service {
    text-align: center;
}
.desc-heading {
    color: #1f2937;
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 5px;
}
.desc-text {
    color: #1f2937;
    font-weight: 600;
    font-size: 1.1rem;
}

/* TESTIMONIALS */
.testimonials {
    background-color: #e5e7eb;
    padding: 10rem 0;
    text-align: center;
}
.content {
    width: 70vw;
    margin: 0 auto;
}
.quote {
    color: #1f2937;
    font-size: 2.2rem;
    font-style: italic;
    width: 70vw;
    margin: 0 auto;
}
.author {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: right;
}
.quote::before {
    content: '"';
    font-size: 3.5rem;
    color: red;
    margin-right: 1rem;
}
.quote::after {
    content: '"';
    font-size: 3.5rem;
    color: red;
    margin-left: 1rem;
}

/* MAIN CTA AREA */
.main-cta {
    background-color: #fff;
    padding: 10rem 0;
}
.inner-cta {
    padding: 4rem 0;
    background-color: #3882f6;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    width: 70vw;
    align-items: center;
    justify-content: center;
}
.main-ctatext {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.7rem;
}
.support-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.signup {
    padding: 1.2rem 3rem;
    background-color: #fff;
    font-size: 1.5rem;
    color: #3882f6;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 8rem;
}
.signup:hover {
    background-color: #1f2937;
    color: #fff;
    border: 2px solid #fff;
    transition: .8s;
}

/* QUICK LINKS - FOOTER AREA */

.quick-links {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 6rem 3rem;
    margin: 0 auto;
    background-color: #1f2937;
    color: #fff;
}
.office-details-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.company-details-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.services-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}
.discus-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5;
}

.office-details p{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
}

.company-details ul{
    list-style: none;
}
.company-quicklinks a{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
    color: #fff;
    text-decoration: none;
}
.whatwedo ul{
    list-style: none;
}
.services-list a{
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
    color: #fff;
    text-decoration: none;
}
.discuss-main-text {
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: 70%;
}

.request-quote {
    font-size: 2.7rem;
    font-weight: 700;
    padding-top: 4rem;
}
.request-quote a{
    text-decoration: none;
    color: rgb(15, 177, 10);
}
.request-quote a:hover {
    color: #fff;
}
/* FOOTER */
footer {
    background-color: #1f2937;
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.4px solid #fff;
}
.copyright {
    font-weight: 200;
    font-size: 1.1rem;
    color: #fff
}

/* MEDIA QUERIES */

/* IPAD MEDIA */

@media only screen and (max-width: 830px) {
    .nav-bar {
        display: flex;
        width: 80vw;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .hero-tab {
        display: block;
        margin: 0 auto;
        width: 80vw;
    }
    .hero-text {
        max-width: 80%;
    }
    .main-text {
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 1.2;
        width: 80vw;
    }
    .secondary-text {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .cta1 {
        margin: 2rem 0;
        padding-bottom: 1.5rem;
    }
    .header-img {
        width: 450px;
        border: 10px solid #fff;
    }
    /* SERVICES AREA */
    .services {
        padding-bottom: 2rem;
    }
    .service-details {
        margin: 0 auto;
        width: 80vw;
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }
    .services-img {
        width: 160px;
        border: 3px solid #1f2937;
        border-radius: 5px;
    }
    .desc {
        width: 35vw;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .desc-heading {
        color: #1f2937;
        font-weight: 900;
        font-size: 1.8rem;
        padding-bottom: 5px;
    }
    .desc-text {
        color: #1f2937;
        font-weight: 600;
        font-size: 1.2rem;
    }
    /* CALL TO ACTION */
    .main-cta {
        background-color: #fff;
        padding: 4rem 0;
    }
    .inner-cta {
        padding: 3rem 0;
        display: block;
        margin: 0 auto;
        border-radius: 7px;
        width: 80vw;
        text-align: center;
    }
    .main-ctatext {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
    }
    .support-text {
        font-size: .9rem;
        padding-bottom: 2rem;
        font-weight: 400;
    }
    .signup {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 4px;
        margin: 0 auto;
    }
    .quick-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3rem;
        padding: 6rem 3rem;
        text-align: center;
    }
}



/* IPAD PRO VERSION */
@media only screen and (max-width: 1085px) {
    .nav-bar {
        display: flex;
        width: 80vw;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .hero-tab {
        display: block;
        margin: 0 auto;
        width: 80vw;
    }
    .hero-text {
        max-width: 80%;
    }
    .main-text {
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 1.2;
        width: 80vw;
    }
    .secondary-text {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .cta1 {
        margin: 2rem 0;
        padding-bottom: 1.5rem;
    }
    .header-img {
        width: 450px;
        border: 10px solid #fff;
    }
    /* SERVICES AREA */
    .services {
        padding-bottom: 2rem;
    }
    .service-details {
        margin: 0 auto;
        width: 80vw;
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }
    .services-img {
        width: 160px;
        border: 3px solid #1f2937;
        border-radius: 5px;
    }
    .desc {
        width: 35vw;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .desc-heading {
        color: #1f2937;
        font-weight: 900;
        font-size: 1.8rem;
        padding-bottom: 5px;
    }
    .desc-text {
        color: #1f2937;
        font-weight: 600;
        font-size: 1.2rem;
    }
    /* CALL TO ACTION */
    .main-cta {
        background-color: #fff;
        padding: 4rem 0;
    }
    .inner-cta {
        padding: 3rem 0;
        display: block;
        margin: 0 auto;
        border-radius: 7px;
        width: 80vw;
        text-align: center;
    }
    .main-ctatext {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
    }
    .support-text {
        font-size: .9rem;
        padding-bottom: 2rem;
        font-weight: 400;
    }
    .signup {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 4px;
        margin: 0 auto;
    }
    .quick-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3rem;
        padding: 6rem 3rem;
        text-align: center;
    }
}

/* MOBILE PHONES */
@media (max-width: 430px) {
    .nav-bar {
        display: block;
        width: 80vw;
    }
    .logo {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    .hero-tab {
        display: block;
        margin: 0 auto;
        width: 80vw;
    }
    .hero-text {
        max-width: 70vw;
    }

    .main-text {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        width: 80vw;
    }
    .secondary-text {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .cta1 {
        margin: 2rem 0;
        padding-bottom: 1.5rem;
    }
    .header-img {
        width: 300px;
        border: 10px solid #fff;
        margin: 0 auto;
    }
    /* SERVICES AREA */
    .services {
        padding-bottom: 2rem;
    }
    .service-details {
        margin: 0 auto;
        width: 80vw;
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }
    .services-img {
        width: 100px;
        border: 2px solid #1f2937;
        border-radius: 5px;
    }
    .desc {
        width: 35vw;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .desc-heading {
        color: #1f2937;
        font-weight: 900;
        font-size: 1.2rem;
        padding-bottom: 5px;
    }
    .desc-text {
        color: #1f2937;
        font-weight: 600;
        font-size: .9rem;
    }
    /* TESTIMONIAL SIDE */
    .testimonials {
        padding: 3rem 0;
    }
    .quote {
        font-size: 1.8rem;
    }

    /* CALL TO ACTION */
    .main-cta {
        background-color: #fff;
        padding: 4rem 0;
    }
    .inner-cta {
        padding: 3rem 0;
        display: block;
        margin: 0 auto;
        border-radius: 7px;
        width: 80vw;
        text-align: center;
    }
    .main-ctatext {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
    }
    .support-text {
        font-size: .9rem;
        padding-bottom: 2rem;
        font-weight: 400;
    }
    .signup {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 4px;
        margin: 0 auto;
    }
    .quick-links {
        display: block;
        padding: 6rem 3rem;
        text-align: center;
    }
}
